<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>系统管理平台-权限信息</title>
    <link href="../../lib/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="../../../css/common.css">
    <link rel="stylesheet" href="detailOperate.css">
</head>

<body>
<div class="detail-operate">
    <div class="detail-operate-result">
        <div class="row result-header">
            <div class="col-xs-4">
                <div class="title">
                    <img src="../../images/icon_basicInfo.png">
                    <p class="title-cn red">基本信息</p>
                    <p class="title-en">Essential information</p>
                </div>
            </div>
        </div>
        <div class="result-table mb10">
            <div class="detail-operate-spec">
                <form name="detailOperate" ng-controller="detailOperateFormCtrl" class="form-inline" role="form">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label edit-label" for="operationSpecCd">权限编码：</label>
                                <input type="input" id="operationSpecCd" class="form-control detail-input"
                                       ng-model="detailOperateForm.operationSpecCd" disabled>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label edit-label" for="operateName">权限名称：</label>
                                <input type="input" id="operateName" class="form-control detail-input"
                                       ng-model="detailOperateForm.name" disabled>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label edit-label" for="operateType">权限类型：</label>
                                <input type="input" id="operateType" class="form-control detail-input"
                                       ng-model="detailOperateForm.operationSpecTypeName" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label edit-label" for="description">描述：</label>
                                <input type="input" id="description" class="form-control detail-input"
                                       ng-model="detailOperateForm.description" disabled>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- 权限对应的维度 -->
        <div class="operate-spec-result" ng-controller="preveligeDimensionFormCtrl">
            <div class="row result-header">
                <div class="col-xs-4">
                    <div class="title">
                        <img src="../../images/icon_typeSetup.png">
                        <p class="title-cn">权限对应的维度</p>
                        <p class="title-en">Authority dimension</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="result-table">
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>权限维度编码</th>
                    <th>权限维度名称</th>
                    <th>数据类型</th>
                    <th>动态SQL</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in preveligeDimensionResultList">
                    <td>
                        <p ng-bind="item.privilegeDimensionCd"></p>
                    </td>
                    <td>
                        <p ng-bind="item.name"></p>
                    </td>
                    <td>
                        <p ng-bind="item.dataTypeName"></p>
                    </td>
                    <td>
                        <p ng-bind="item.dynamicSql"></p>
                    </td>
                    <td>
                        <p ng-bind="item.description"></p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    <!-- 权限可操作的模块 -->
    <div class="operate-spec-result" ng-controller="preveligeDoneFormCtrl">
        <div class="row result-header">
            <div class="col-xs-4">
                <div class="title">
                    <img src="../../images/icon_previlege.png">
                    <p class="title-cn green">权限可操作的模块</p>
                    <p class="title-en">Operation module</p>
                </div>
            </div>
        </div>
        <div class="result-table">
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>业务模块ID</th>
                    <th>业务模块名称</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in preveligeDoneResultList">
                    <td>
                        <p ng-bind="item.sysModularId"></p>
                    </td>
                    <td>
                        <p ng-bind="item.name"></p>
                    </td>
                    <td>
                        <p ng-bind="item.description"></p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
</div>
<script src="../../lib/require.js" data-main="entry"></script>
</body>

</html>
