/**	
 * Auth: Ding Shaohua
 * Date: 2016-08-16
 * ETA(Easy To Ask-易问)
 */
@font-face {
	font-family: 'iconfont';
	src: url('http://at.alicdn.com/t/font_1473150486_2736669.eot'); /* IE9*/
	src: url('http://at.alicdn.com/t/font_1473150486_2736669.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('http://at.alicdn.com/t/font_1473150486_2736669.woff') format('woff'), /* chrome、firefox */
	url('http://at.alicdn.com/t/font_1473150486_2736669.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('http://at.alicdn.com/t/font_1473150486_2736669.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
	font-family: "iconfont";
	font-size: 14px;
	font-style: normal;
}
body {
	font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: #fff;
	color: #333;
	font-size: 12px;
}
.fn-left {
	float: left;
}
.fn-right {
	float: right;
}
.fn-clear:after {
	display: block;
	clear: both;
	content: '';
	visibility: hidden;
	height: 0;
}
.box-1200 {
	width: 1200px;
	margin: 0 auto;
}