<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>系统管理平台-业务模块配置</title>
    <link rel="stylesheet" href="../../lib/css/sweetalert.css">
    <link href="../../lib/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="sysModular.css">
</head>

<body>
<div class="staff-man" ng-controller="querySysFormCtrl">
    <!-- 查询 -->
    <div class="staff-man-query">
        <form name="querySysForm" ng-submit="querySysFormSubmit()" class="form-inline" role="form">
            <div class="row mb10">
                <div class="col-xs-4">
                    <div class="form-group">
                        <label class="control-label sys_label" for="sysModularId">业务模块ID：</label>
                        <input type="text" id="sysModularId" class="form-control query-input"
                               ng-model="querySysForm.sysModularId">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label class="control-label sys_label" for="name">业务模块名称：</label>
                        <input type="text" id="name" class="form-control query-input" ng-model="querySysForm.name">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label class="control-label sys_label" for="modularTypeCdItem">业务模块类型：</label>
                        <select class="form-control query-input" id="modularTypeCdItem"
                                ng-model="querySysForm.modularTypeCdItem"
                                ng-options="item as item.name for item in sysType track by item.modularTypeCd">
                            <option value="">请选择业务模块类型</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="form-group">
                        <label class="control-label sys_label" for="sysIdItem">所属系统：</label>
                        <select class="form-control query-input" id="sysIdItem" ng-model="querySysForm.sysIdItem"
                                ng-options="item as item.sysName for item in systemList track by item.sysId">
                            <option value="">请选择所属系统</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-8 text-right">
                    <button type="submit" class="btn btn-sm btn-query"><i class="iconfont">&#xe600;</i> 查询</button>
                </div>
            </div>
        </form>
    </div>
    <!-- 弹出 -->
    <div ng-controller="editSysModalCtrl as $ctrl">
        <!-- 结果 -->
        <div class="staff-man-result" ng-controller="SysResultCtrl">
            <div class="row result-header">
                <div class="col-xs-4">
                    <div class="title">
                        <img src="../../images/icon_typeSetup.png">
                        <p class="title-cn">权限规格列表</p>
                        <p class="title-en">Jurisdiction</p>
                    </div>
                </div>
                <div class="col-xs-8 text-right">
                    <button ng-click="addSys()" class="btn btn-xs btn-set"><i class="iconfont">&#xe60e;</i> 新建</button>
                    <button ng-click="deleteSysModularBatch()" class="btn btn-xs btn-set"><i class="iconfont">
                        &#xe610;</i> 删除
                    </button>
                </div>
            </div>
            <div class="result-table">
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th width="5%">选择</th>
                        <th width="10%">业务模块ID</th>
                        <th>业务模块名称</th>
                        <th>业务模块类型</th>
                        <th>所属系统</th>
                        <th>上级业务模块</th>
                        <th width="15%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in SysResultList">
                        <td>
                            <input type="checkbox" name="checkbox{{$index}}" ng-click="check(item, isChecked)"
                                   ng-model="isChecked">
                        </td>
                        <td>
                            <p ng-bind="item.sysModularId"></p>
                        </td>
                        <td>
                            <p ng-bind="item.name"></p>
                        </td>
                        <td>
                            <p ng-bind="item.modularTypeName"></p>
                        </td>
                        <td>
                            <p ng-bind="item.sysName"></p>
                        </td>
                        <td>
                            <p ng-bind="item.upSysModularName"></p>
                        </td>
                        <td>
                            <button class="btn btn-xs btn-edit" ng-click="modifySys($index, '修改模块')"><i
                                class="iconfont">&#xe60d;</i> 修改
                            </button>
                            <button class="btn btn-xs btn-edit" ng-click="editSys($index, '详情')"><i class="iconfont">
                                &#xe60b;</i> 详情
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p class="no-data" ng-if="SysResultList && !SysResultList.length">
                    没有数据
                </p>
            </div>
            <div ng-controller="paginationCtrl" class="text-center">
                <ul uib-pagination total-items="totalNum" items-per-page="rowNumPerPage" ng-model="currentPage"
                    max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true"
                    rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
            </div>
        </div>

        <script type="text/ng-template" id="myModularContent.html">
            <div ng-if="sysTitle === '修改模块'">
                <div class="modal-header">
                    <button type="button" class="close iconfont" ng-click="$ctrl.cancel()">&#xe611;</button>
                    <h3 class="modal-title" id="modal-title"><i class="iconfont">&#xe603;</i>{{sysTitle}}</h3>
                </div>
                <div class="modal-body" id="modal-body">
                    <form name="editSysForm" ng-submit="editSysFormSubmit()" ng-controller="editSysFormCtrl"
                          class="form-inline" role="form">
                        <div class="row mb10">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label edit-label sys_left" for="sysModularId1">业务模块ID：</label>
                                    <input type="text" id="sysModularId1" class="form-control edit-input"
                                           ng-model="modifiedSys.sysModularId" disabled>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label edit-label sys_left" for="name1">业务模块名称：</label>
                                    <input type="text" id="name1" class="form-control edit-input"
                                           ng-model="modifiedSys.name">
                                </div>
                            </div>
                        </div>
                        <div class="row mb10">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label edit-label sys_left"
                                           for="modularTypeName1">业务模块类型：</label>
                                    <select class="form-control query-input query-select" id="modularTypeName1"
                                            ng-model="modifiedSys.modularTypeCdItem"
                                            ng-options="item as item.name for item in sysType track by item.modularTypeCd"></select>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label edit-label sys_left" for="sysIdItem1">所属系统：</label>
                                    <select class="form-control query-input query-select" id="sysIdItem1"
                                            ng-model="modifiedSys.sysIdItem"
                                            ng-options="item as item.sysName for item in systemList track by item.sysId"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row mb10">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label edit-label sys_left"
                                           for="upSysModularName1">上级业务模块：</label>
                                    <input type="text" id="upSysModularName1" class="form-control edit-input"
                                           ng-model="modifiedSys.upSysModularName">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label edit-label sys_left" for="url1">模块URL：</label>
                                    <input type="text" id="url1" class="form-control edit-input"
                                           ng-model="modifiedSys.url">
                                </div>
                            </div>
                        </div>
                        <div class="row mb10">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label edit-label sys_left" for="intfFunc1">接口方法：</label>
                                    <input type="text" id="intfFunc1" class="form-control edit-input"
                                           ng-model="modifiedSys.intfFunc">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label edit-label sys_left" for="description1">描述：</label>
                                    <input type="text" id="description1" class="form-control edit-input"
                                           ng-model="modifiedSys.description">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-cancel" type="button" ng-click="$ctrl.cancel()">关闭</button>
                    <button class="btn btn-submit" type="button" ng-disabled="isForbidSubmit" ng-click="$ctrl.ok()">确定
                    </button>
                </div>
            </div>

            <div ng-if="sysTitle === '详情'">
                <div class="modal-header">
                    <button type="button" class="close iconfont" ng-click="$ctrl.cancel()">&#xe611;</button>
                    <h3 class="modal-title" id="modal-title"><i class="iconfont">&#xe603;</i>{{sysTitle}}</h3>
                </div>

                <div class="modal-body" id="modal-body">
                    <form name="editSysForm" ng-submit="editSysFormSubmit()" ng-controller="editSysFormCtrl"
                          class="form-inline" role="form">
                        <table class="detail_table" width="100%">
                            <tr>
                                <td width="20%" class="detail_table_left">
                                    <label for="sysModularId2">业务模块ID：</label>
                                </td>
                                <td width="80%">
                                    <span id="sysModularId2" ng-bind="modifiedSys.sysModularId"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="detail_table_left">
                                    <label for="name2">业务模块名称：</label>
                                </td>
                                <td>
                                    <span id="name2" ng-bind="modifiedSys.name"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="detail_table_left">
                                    <label for="modularTypeName">业务模块类型：</label>
                                </td>
                                <td>
                                    <span id="modularTypeName" ng-bind="modifiedSys.modularTypeName"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="detail_table_left">
                                    <label for="sysName">所属系统：</label>
                                </td>
                                <td>
                                    <span id="sysName" ng-bind="modifiedSys.sysName"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="detail_table_left">
                                    <label for="upSysModularName">上级业务模块：</label>
                                </td>
                                <td>
                                    <span id="upSysModularName" ng-bind="modifiedSys.upSysModularName"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="detail_table_left">
                                    <label for="url">模块URL：</label>
                                </td>
                                <td>
                                    <span id="url" ng-bind="modifiedSys.url"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="detail_table_left">
                                    <label for="intfFunc">接口方法：</label>
                                </td>
                                <td>
                                    <span id="intfFunc" ng-bind="modifiedSys.intfFunc"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="detail_table_left">
                                    <label for="description">描述：</label>
                                </td>
                                <td>
                                    <span id="description" ng-bind="modifiedSys.description"></span>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-cancel" type="button" ng-click="$ctrl.cancel()">关闭</button>
                </div>
            </div>

        </script>

    </div>
</div>
<script src="../../lib/require.js" data-main="entry"></script>
</body>

</html>
