.modify-staff {
	padding: 10px 20px 0;
}

/* 结果 */
.staff-man-result {
	margin-top: 10px;
}
.result-header {
	height: 48px;
	margin: 0;
	line-height: 46px;
	border: 1px solid #ddd;
	border-bottom: none;
}
.result-header .title {
	position: relative;
	padding-top: 9px;
	padding-left: 32px;
	line-height: 16px;
}
.result-header .title img {
	position: absolute;
	top: 9px;
	left: 0;
}
.result-header .title .title-cn {
	color: #4c9ef5;
	font-size: 14px;
}
.result-header .title .title-en {
	color: #ddd;
	font-size: 12px;
}
.modify-staff-man {
	padding: 20px;
	border: 1px solid #ddd;
}
.edit-label {
    width: 100px !important;
    text-align: right;
}
.remark {
	width: 812px !important;
	height: 240px !important;
}
.check-default {
	margin: 0 2px 0 8px !important;
}
.modify-input {
	width: 180px !important;
	height: 28px;
}
.query-input {
	width: 205px !important;
	height: 28px;
}
.jobId-input {
	width: 122px !important;
	height: 28px;
}
.btn-jobId {
	width:25%;
	padding: 3px 0;
    background-color: #ffc619;
    border-color: #ffc619;
    color: #fff;
    font-size: 12px;
}
.btn-jobId:focus, .btn-jobId.focus {
	background-color: #e4ae0c;
    border-color: #e4ae0c;
	color: #fff;
}
.btn-jobId:hover {
    background-color: #e4ae0c;
    border-color: #e4ae0c;
    color: #fff;
}

/* 弹出框 */


.edit-input {
    width: 205px !important;
}

.result-header {
	height: 37px;
	margin: 0;
	line-height: 32px;
	border: 1px solid #ddd;
	border-bottom: none;
    overflow: hidden;
}
.result-header .title {
	position: relative;
	padding-top: 4px;
	padding-left: 32px;
	line-height: 16px;
}
.result-header .title img {
	position: absolute;
	top: 4px;
	left: 0;
}
.result-header .title .title-cn {
	color: #4c9ef5;
	font-size: 14px;
}
.result-header .title .title-en {
	color: #ddd;
	font-size: 12px;
}
.btn-set {
	margin-left: 10px;
	padding-left: 15px;
	padding-right: 15px;
    background-color: #ffc619;
    border-color: #ffc619;
    color: #fff;
    font-size: 12px;
}
.btn-set:focus, .btn-set.focus {
	background-color: #e4ae0c;
	border-color: #e4ae0c;
	color: #fff;
}
.btn-set:hover {
    background-color: #e4ae0c;
    border-color: #e4ae0c;
    color: #fff;
}
.result-table table th {
	background-color: #f5fafa;
	border-bottom-width: 1px !important;
	color: #333;
	font-weight: 800;
	text-align: center;
}
.result-table table td {
	padding: 2px !important;
	text-align: center;
}
.result-table table td p {
	height: 25px;
	line-height: 25px;
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    padding: 5px 0;
}
/* input 百分比 */
.form-group {
    position: relative;
    width: 100% !important;
    padding-left: 120px;
}
.form-group label {
    position: absolute;
    left: 0;
    width: 120px !important;
    line-height: 25px;
    text-align: right;
}
.form-group label.special {
    position: absolute;
    left: 96%;
    width: 120px !important;
    line-height: 25px;
    text-align: right;
    top:0;
}
.form-group input[type="checkbox"] {
    position: absolute;
    left: 99%;
    top:6px;
}
.form-group input[type="text"] {
    width: 100% !important;
    height: 25px;
    padding: 0 12px;
    line-height:25px;
}
.form-group input[type="password"] {
    width: 100% !important;
    height: 25px;
    padding: 0 12px;
    line-height:25px;
}
.form-group input.special{
    width: 73% !important;
    height: 25px;
    padding: 0 12px;
    line-height:25px;
}
.form-group select{
    width: 100% !important;
    height: 25px;
    padding: 0 12px;
    line-height:25px;
}
.form-group textarea {
    width: 100% !important;
}

