<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>系统管理平台-新建/修改用户</title>
    <link rel="stylesheet" href="../../lib/css/sweetalert.css">
    <link href="../../lib/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="modifyStaff.css">
</head>

<body ng-app="modifyStaff">
	<div class="modify-staff">
        <div class="staff-man-result">
            <div class="row result-header">
                <div class="col-xs-4">
                    <div class="title" ng-if="isEnableEditPassword">
                        <img src="../../images/icon_staffList.png">
                        <p class="title-cn">新建用户</p>
                        <p class="title-en">Insert staff</p>
                    </div>
                    <div class="title" ng-if="!isEnableEditPassword">
                        <img src="../../images/icon_staffList.png">
                        <p class="title-cn">修改用户</p>
                        <p class="title-en">Modify staff</p>
                    </div>
                </div>
            </div>
            <!-- 弹出 -->
            <div ng-controller="selectStaffManModalCtrl as $ctrl">
                <div class="result-table">
                    <div class="modify-staff-man">
                        <form name="modifyStaff" ng-submit="modifyStaffFormSubmit()" ng-controller="modifyStaffFormCtrl" class="form-inline" role="form">
                            <div class="row mb10">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="control-label edit-label" for="userId">用户ID：</label>
                                        <input type="input" id="userId" class="form-control modify-input" ng-model="modifyStaffForm.userId" disabled>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="control-label edit-label" for="staffNumber">员工工号：</label>
                                        <input type="input" id="staffNumber" class="form-control jobId-input" ng-model="modifyStaffForm.staffNumber" disabled>
                                        <button type="button" ng-click="checkStaffMan()" ng-disabled="!isEnableEditPassword" class="btn btn-sm btn-jobId">选择</button>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="control-label edit-label" for="name">员工姓名：</label>
                                        <input type="input" id="name" class="form-control modify-input" ng-model="modifyStaffForm.name" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb10">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="control-label edit-label" for="loginCode">用户账户：</label>
                                        <input type="input" id="loginCode" class="form-control modify-input" ng-model="modifyStaffForm.loginCode">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="control-label edit-label" for="mobileTel">手机号码：</label>
                                        <input type="input" id="mobileTel" class="form-control modify-input" ng-model="modifyStaffForm.mobileTel">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="control-label edit-label" for="systemPassword">系统密码：</label>
                                        <input type="password" id="systemPassword" class="form-control modify-input" ng-model="modifyStaffForm.systemPassword" ng-disabled="modifyStaffForm.checkDefault">
                                    </div>
                                </div>
                            </div>
                            <div class="row mb10">
                                <div class="col-xs-12">
                                    <div class="form-group" ng-if="isEnableEditPassword">
                                        <label class="control-label edit-label" for="confirmPassword">密码确认：</label>
                                        <input type="password" id="confirmPassword" class="form-control modify-input" ng-model="modifyStaffForm.confirmPassword" ng-disabled="modifyStaffForm.checkDefault">
                                        <input type="checkbox" id="checkDefault" class="check-default" ng-model="modifyStaffForm.checkDefault">
                                        <label class="control-label" for="checkDefault">默认初始化6个8</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb10">
                                <div class="col-xs-12">
                                    <div class="from-group">
                                        <label class="control-label edit-label" for="remaeks">备注：</label>
                                        <textarea id="remaeks" class="form-control remark" ng-model="modifyStaffForm.remaeks"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <!--<button class="btn btn-cancel">取消</button>-->
                                    <button type="submit" ng-disabled="isForbid" class="btn btn-submit">保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <script type="text/ng-template" id="myModalContent.html">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="$ctrl.cancel()">Close</button>
                        <h3 class="modal-title" id="modal-title"><i class="iconfont">&#xe603;</i>员工选择</h3>
                    </div>
                    <div class="modal-body" id="modal-body" ng-controller="queryStaffFormCtrl">
                        <!-- 查询 -->
                        <div class="staff-man-query">
                            <form name="queryStaff" ng-submit="queryStaffFormSubmit()" class="form-inline" role="form">
                                <div class="row mb10">
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label class="control-label" for="staffNumber">员工工号：</label>
                                            <input type="input" id="staffNumber" class="form-control query-input" ng-model="queryStaffForm.staffNumber">
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label class="control-label" for="name">员工姓名：</label>
                                            <input type="input" id="name" class="form-control query-input" ng-model="queryStaffForm.name">
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label class="control-label" for="areaItem">归属地区：</label>
                                            <select class="form-control edit-input" id="areaItem" ng-model="queryStaffForm.areaItem">
                                                <option value="">请选择地区</option>
                                                <option ng-repeat="item in areaList" value="{{item.areaId}}">{{item.areaName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-right">
                                        <button type="submit" class="btn btn-sm btn-query"><i class="iconfont">&#xe600;</i> 查询</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- 结果 -->
                        <div class="staff-man-result" ng-controller="staffManResultCtrl">
                            <div class="row result-header">
                                <div class="col-xs-4">
                                    <div class="title">
                                        <img src="../../images/icon_staffList.png">
                                        <p class="title-cn">员工列表</p>
                                        <p class="title-en">Staff list</p>
                                    </div>
                                </div>
                            </div>
                            <div class="result-table">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>员工ID</th>
                                            <th>员工工号</th>
                                            <th>员工姓名</th>
                                            <th>归属地区</th>
                                            <th>状态</th>
                                            <th>生效时间</th>
                                            <th>失效时间</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in staffManResultList">
                                            <td>
                                                <input type="radio" name="staffRadio" ng-click="selectStaffMan($index)">
                                            </td>
                                            <td>
                                                <p ng-bind="item.staffId"></p>
                                            </td>
                                            <td>
                                                <p ng-bind="item.staffNumber"></p>
                                            </td>
                                            <td>
                                                <p ng-bind="item.name"></p>
                                            </td>
                                            <td>
                                                <p ng-bind="item.areaName"></p>
                                            </td>
                                            <td>
                                                <p ng-bind="item.staffStatusCd | stateConversionText"></p>
                                            </td>
                                            <td>
                                                <p ng-bind="item.createDt | date:'yyyy-MM-dd HH:mm:ss'"></p>
                                            </td>
                                            <td>
                                                <p ng-bind="item.version | date:'yyyy-MM-dd HH:mm:ss'"></p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-controller="paginationCtrl" class="text-center">
                                <ul uib-pagination total-items="totalNum" items-per-page="rowNumPerPage" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-cancel" type="button" ng-click="$ctrl.cancel()">关闭</button>
                        <button class="btn btn-submit" type="button" ng-click="$ctrl.ok()">确定</button>
                    </div>
                </script>
            </div>
        </div>
    </div>
    <script src="../../lib/angular.min.js"></script>
    <script src="../../lib/angular-touch.min.js"></script>
    <script src="../../lib/angular-animate.min.js"></script>
    <script src="../../lib/angular-aria.min.js"></script>
    <script src="../../lib/jquery.min.js"></script>
    <script src="../../lib/bootstrap.min.js"></script>
    <script src="../../lib/ui-bootstrap.js"></script>
    <script src="../../lib/ui-bootstrap-tpls-2.1.3.js"></script>
    <script src="../../lib/sweetalert.min.js"></script>
    <script src="../../lib/angular-md5.js"></script>
    <script src="modifyStaff.js"></script>
</body>

</html>
