<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>系统管理平台</title>
    <link href="lib/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body ng-app="indexModule" ng-controller="indexCtrl">
    <div class="header fn-clear">
        <div class="header-logo fn-left">
            <img class="logo" src="images/logo.png" alt="">
        </div>
        <div class="header-topbar fn-right">
            <!-- remind -->
            <div class="remind fn-left">
                <span class="remind-item"><i class="iconfont">&#xe60c;</i><i class="drogue">99</i></span>
                <span class="remind-item"><i class="iconfont">&#xe609;</i></span>
                <span class="remind-item"><i class="iconfont">&#xe60a;</i></span>
            </div>
            <!-- search -->
            <div class="search fn-left" ng-controller="searchCtrl">
                <search-directive search-fn="searchFn()"></search-directive>
            </div>
            <!-- user -->
            <div class="user fn-right">
                <img src="images/photo1.jpg" alt="" class="photo fn-left">
                <p class="name">{{userInfo.name}}</p>
            </div>
        </div>
    </div>
    <div class="index-content" id="tabs" ng-controller="tabsCtrl">
        <div class="accordion-list" ng-class="{nothing: checked}" ng-controller="accordionCtrl">
            <accordion-list-directive lists="lists" value="value" add-tab="addTab()"></accordion-list-directive>
        </div>
        <div class="tab-container" ng-class="{full: checked}">
            <label for="toggle-btn" class="slide-toggle" ng-model="checked"></label>
            <input id="toggle-btn" type="checkbox" ng-model="checked" class="hidden">
            <tabs-title-directive remove-tab="removeTab()"></tabs-title-directive>
            <tabs-content-directive></tabs-content-directive>
        </div>
    </div>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-touch.min.js"></script>
    <script src="lib/angular-animate.min.js"></script>
    <script src="lib/angular-aria.min.js"></script>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/ui-bootstrap.js"></script>
    <script src="js/index.js"></script>
</body>

</html>
