.authorize-staff {
	margin: 10px 15px;
	padding: 5px 10px 10px;
	border: 1px solid #ddd;
}
.authorize-staff-title {
	height: 34px;
	line-height: 34px;
	border-bottom: 1px solid #ddd;
	color: #333;
	font-size: 14px;
}
.staff-attribute {
	height: 34px;
	line-height: 34px;
	color: #333;
}

/* 结果 */
.staff-man-result {
	margin-top: 10px;
}
.result-header {
	height: 48px;
	margin: 0;
	line-height: 46px;
	border: 1px solid #ddd;
	border-bottom: none;
}
.result-header .title {
	position: relative;
	padding-top: 9px;
	padding-left: 32px;
	line-height: 16px;
}
.result-header .title img {
	position: absolute;
	top: 9px;
	left: 0;
}
.result-header .title .title-cn {
	color: #4c9ef5;
	font-size: 14px;
}
.result-header .title .title-en {
	color: #ddd;
	font-size: 12px;
}
.btn-set {
	margin-left: 10px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #ffc619;
	border-color: #ffc619;
	color: #fff;
	font-size: 12px;
}
.btn-set:focus, .btn-set.focus {
	background-color: #e4ae0c;
	border-color: #e4ae0c;
	color: #fff;
}
.btn-set:hover {
	background-color: #e4ae0c;
	border-color: #e4ae0c;
	color: #fff;
}
.result-table table th {
	background-color: #f5fafa;
	border-bottom-width: 1px !important;
	color: #333;
	font-weight: 800;
	text-align: center;
}
.result-table table td {
	padding: 6px !important;
	text-align: center;
}
.result-table table td p {
	height: 25px;
	line-height: 25px;
}
.btn-edit {
	background-color: #b1cc00;
	color: #fff;
}
.btn-edit:focus, .btn-edit.focus {
	background-color: #a4bc04;
	color: #fff;
}
.btn-edit:hover {
	background-color: #a4bc04;
	color: #fff;
}

/* 复写TABS */
.nav-pills > li {
	float: left;
	// overflow: hidden;
}
.nav-pills > li > a {
	position: relative;
	display: block;
	height: 28px;
	line-height: 28px;
	padding: 0 15px;
	border-radius: 0;
	background-color: #fff;
	border: 1px solid #ff8c19;
	color: #ff8c19;
}
.nav > li > a:hover, .nav > li > a:focus {
	background-color: #fff;
	text-decoration: none;
}
.nav-pills > li + li {
	margin-left: 10px;
	margin-top: 0;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: #fff;
	color: #ff8c19;
}
.nav-pills > li.active > a::after {
	position: absolute;
	right: -2px;
	bottom: -2px;
	content: "\e61b";
	color: #ff8c19;
	font-family: "iconfont";
	font-size: 18px;
	line-height: 16px;
}



/* 查询 */
.staff-man-query {
	padding: 10px 15px;
	border: 1px solid #ddd;
}
.edit-label {
	width: 100px !important;
    text-align: right;
}
.query-input {
	width: 155px !important;
	height: 30px;
}
.btn-query {
	padding-left: 15px;
	padding-right: 15px;
    background-color: #ff9f19;
    border-color: #ff9f19;
    color: #fff;
    font-size: 12px;
}
.btn-query:focus, .btn-query.focus {
	background-color: #d1800e;
	border-color: #d1800e;
	color: #fff;
}
.btn-query:hover {
    background-color: #d1800e;
    border-color: #d1800e;
    color: #fff;
}
/* 结果 */
.staff-man-result {
	margin-top: 10px;
}
.result-header {
	height: 48px;
	margin: 0;
	line-height: 46px;
	border: 1px solid #ddd;
	border-bottom: none;
}
.result-header .title {
	position: relative;
	padding-top: 9px;
	padding-left: 32px;
	line-height: 16px;
}
.result-header .title img {
	position: absolute;
	top: 9px;
	left: 0;
}
.result-header .title .title-cn {
	color: #4c9ef5;
	font-size: 14px;
}
.result-header .title .title-en {
	color: #ddd;
	font-size: 12px;
}
.btn-set {
	margin-left: 10px;
	padding-left: 15px;
	padding-right: 15px;
    background-color: #ffc619;
    border-color: #ffc619;
    color: #fff;
    font-size: 12px;
}
.btn-set:focus, .btn-set.focus {
	background-color: #e4ae0c;
	border-color: #e4ae0c;
	color: #fff;
}
.btn-set:hover {
    background-color: #e4ae0c;
    border-color: #e4ae0c;
    color: #fff;
}
.result-table table th {
	background-color: #f5fafa;
	border-bottom-width: 1px !important;
	color: #333;
	font-weight: 800;
	text-align: center;
}
.result-table table td {
	padding: 6px !important;
	text-align: center;
}
.result-table table td p {
	height: 25px;
	line-height: 25px;
}
.btn-edit {
    background-color: #b1cc00;
    color: #fff;
}
.btn-edit:focus, .btn-edit.focus {
	background-color: #a4bc04;
	color: #fff;
}
.btn-edit:hover {
    background-color: #a4bc04;
    color: #fff;
}
