<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>系统管理平台-权限类型管理</title>
    <link rel="stylesheet" href="../../lib/css/sweetalert.css">
    <link href="../../lib/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="privilegeType.css">
</head>

<body>
<div class="privilege-type" ng-controller="queryTypeFormCtrl">
    <!-- 查询 -->
    <div class="privilege-type-query">
        <form name="queryTypeForm" ng-submit="queryTypeFormSubmit()" class="form-inline" role="form">
            <div class="row ">
                <div class="col-xs-5">
                    <div class="form-group">
                        <label class="control-label" for="operationSpecTypeCd1">权限类型编码：</label>
                        <input type="text" id="operationSpecTypeCd1" class="form-control query-input"
                               ng-model="queryTypeForm.operationSpecTypeCd">
                    </div>
                </div>
                <div class="col-xs-5">
                    <div class="form-group">
                        <label class="control-label" for="name1">权限类型名称：</label>
                        <input type="text" id="name1" class="form-control query-input"
                               ng-model="queryTypeForm.operationSpecTypeName">
                    </div>
                </div>
                <div class="col-xs-2 text-right">
                    <button type="submit" class="btn btn-sm btn-query"><i class="iconfont">&#xe600;</i> 查询</button>
                </div>
            </div>
        </form>
    </div>
    <!-- 结果 -->
    <div ng-controller="editQueryTypeModalCtrl as $ctrl">
        <div class="privilege-type-result" ng-controller="privilegeTypeResultCtrl">
            <div class="row result-header">
                <div class="col-xs-4">
                    <div class="title">
                        <img src="../../images/icon_typeSetup.png">
                        <p class="title-cn">权限类型配置</p>
                        <p class="title-en">Jurisdiction</p>
                    </div>
                </div>
                <div class="col-xs-8 text-right">
                    <button ng-click="addQueryType('新增权限类型')" class="btn btn-xs btn-set"><i class="iconfont">
                        &#xe60e;</i> 新建
                    </button>
                    <button ng-click="batchCancelType()" class="btn btn-xs btn-set"><i class="iconfont">&#xe610;</i> 删除
                    </button>
                </div>
            </div>
            <div class="result-table">
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th width="5%">选择</th>
                        <th width="13%">权限类型编码</th>
                        <th width="20%">权限类型名称</th>
                        <th width="12%">权限规格编码前缀</th>
                        <th>描述</th>
                        <th width="10%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in queryTypeResultList">
                        <td>
                            <input type="checkbox" name="checkbox{{$index}}" ng-click="check(item, isChecked)"
                                   ng-model="isChecked">
                        </td>
                        <td>
                            <p ng-bind="item.operationSpecTypeCd"></p>
                        </td>
                        <td>
                            <p ng-bind="item.operationSpecTypeName"></p>
                        </td>
                        <td>
                            <p ng-bind="item.operationSpecCdPrefix"></p>
                        </td>
                        <td>
                            <p ng-bind="item.description" class="overflow-handle" title="item.description"></p>
                        </td>
                        <td>
                            <button ng-click="editQueryType('修改权限类型',$index)" class="btn btn-xs btn-edit"><i
                                class="iconfont">&#xe60d;</i> 修改
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p class="no-data" ng-if="queryTypeResultList && !queryTypeResultList.length">
                    没有数据
                </p>
            </div>
            <div ng-controller="paginationCtrl" class="text-center">
                <ul uib-pagination total-items="totalNum" items-per-page="rowNumPerPage" ng-model="currentPage"
                    max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true"
                    rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
            </div>
        </div>
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <button type="button" class="close iconfont" ng-click="$ctrl.cancel()">&#xe611;</button>
                <h3 class="modal-title" id="modal-title"><i class="iconfont">&#xe614;</i>{{modalTitle}}</h3>
            </div>
            <div class="modal-body" id="modal-body">
                <form class="pr50" name="editQueryTypeForm" ng-submit="editQueryTypeFormSubmit()"
                      ng-controller="editQueryTypeFormCtrl" class="form-inline" role="form">
                    <div class="row mb10">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label edit-label" for="operationSpecTypeCd">权限类型编码：</label>
                                <input type="text" id="operationSpecTypeCd" class="form-control query-input" ng-model="modifiedQueryType.operationSpecTypeCd" ng-disabled="{{!isEnabledState}}">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label edit-label" for="operationSpecCdPrefix">权限规格编码前缀：</label>
                                <input type="text" id="operationSpecCdPrefix" class="form-control query-input" ng-model="modifiedQueryType.operationSpecCdPrefix">
                            </div>
                        </div>
                    </div>
                    <div class="row mb10">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label edit-label" for="name">权限类型名称：</label>
                                <input type="text" id="name" class="form-control query-input" ng-model="modifiedQueryType.operationSpecTypeName">
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label edit-label" for="description">描述：</label>
                                <textarea col="" row="10" id="description" class="form-control edit-txt" ng-model="modifiedQueryType.description"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-cancel" type="button" ng-click="$ctrl.cancel()">关闭</button>
                <button class="btn btn-submit" type="button" ng-disabled="isForbidSubmit" ng-click="$ctrl.ok()">确定</button>
            </div>
        </script>
    </div>
</div>
<script src="../../lib/require.js" data-main="entry"></script>
</body>

</html>
