
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统管理平台-权限信息</title>
    <link rel="stylesheet" href="../../lib/css/sweetalert.css">
    <link href="../../lib/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="modifyOperate.css">
</head>

<body>
    <div class="modify-operate">
        <div class="modify-operate-result" >
            <div class="row result-header">
                <div class="col-xs-4">
                    <div class="title">
                        <img src="../../images/icon_basicInfo.png">
                        <p class="title-cn red">基本信息</p>
                        <p class="title-en">Essential information</p>
                    </div>
                </div>
            </div>
            <div class="result-table mb10" ng-controller="modifyOperateFormCtrl" >
                <div class="modify-operate-spec">
                    <form name="modifyOperate" class="form-inline" role="form" ng-submit="modifyOperateFormSubmit()">
                        <div class="row mb10">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label edit-label" for="operationSpecCd">权限规格编码：</label>
                                    <input type="text" id="operationSpecCd" class="form-control modify-input" ng-model="modifyOperateForm.operationSpecCd"  >
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label edit-label" for="name">权限规格名称：</label>
                                    <input type="text" id="name" class="form-control modify-input" ng-model="modifyOperateForm.name">
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label edit-label" for="operateType">权限规格类型：</label>
                                    <select class="form-control query-input" id="operateType" ng-model="modifyOperateForm.operationSpecTypeCd">
                                        <option value="">请选择权限类型</option>
                                        <option ng-repeat="item in operationType" value="{{item.operationSpecTypeCd}}">{{item.operationSpecTypeName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="control-label edit-label" for="descriptionName">权限描述：</label>
                                    <input type="text" id="descriptionName" class="form-control modify-input" ng-model="modifyOperateForm.description">
                                </div>
                            </div>
                        </div>
                        <div class="row save_btn">
                            <div class="col-xs-12 text-center">
                                <button type="submit" ng-disabled="isForbidSubmit" class="btn btn-submit">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- 权限对应的维度 -->
                <div ng-controller="preveligeDimensionModalCtrl as $ctrl">
                    <div class="operate-spec-result mb10 mt20" ng-controller="preveligeDimensionFormCtrl">
                        <div class="row result-header">
                            <div class="col-xs-4">
                                <div class="title">
                                    <img src="../../images/icon_typeSetup.png">
                                    <p class="title-cn">权限对应的维度</p>
                                    <p class="title-en">Authority dimension</p>
                                </div>
                            </div>
                            <div class="col-xs-8 text-right">
                                <button ng-click="addDimension()" class="btn btn-xs btn-set"><i class="iconfont">&#xe60e;</i> 添加</button>
                                <button ng-click="deleteDimension()" class="btn btn-xs btn-set"><i class="iconfont">&#xe610;</i> 删除</button>
                            </div>
                        </div>
                        <div class="result-table">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th width="5%">选择</th>
                                        <th width="15%">权限维度编码</th>
                                        <th width="15%">权限维度名称</th>
                                        <th>备注</th>
                                        <th width="15%">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in preveligeDimensionResultList">
                                        <td>
                                            <input type="checkbox" name="checkbox{{$index}}" ng-click="check(item, isChecked)" ng-model="isChecked">
                                        </td>
                                        <td>
                                            <p ng-bind="item.privilegeDimensionCd"></p>
                                        </td>
                                        <td>
                                            <p ng-bind="item.name"></p>
                                        </td>
                                        <td>
                                            <p ng-bind="item.description" class="overflow-handle" title="item.description"></p>
                                        </td>
                                        <td>
                                            <button ng-click="dimensionInfo($index)" class="btn btn-xs btn-edit"><i class="iconfont">&#xe60b;</i> 详情</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <script type="text/ng-template" id="addDimensionModal.html">
                        <div class="modal-header">
                            <button type="button" class="close iconfont" ng-click="$ctrl.cancel()">&#xe611;</button>
                            <h3 class="modal-title" id="modal-title"><i class="iconfont">&#xe614;</i>权限维度选择</h3>
                        </div>
                        <div class="modal-body" id="modal-body" ng-controller="queryDimensionFormCtrl">
                            <!-- 查询 -->
                            <div class="prevelige-dimension-query">
                                <form name="queryDimension" ng-submit="queryDimensionFormSubmit()" class="form-inline" role="form">
                                    <div class="row mb10">
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label class="control-label" for="privilegeDimensionCd">权限维度编码：</label>
                                                <input type="text" id="privilegeDimensionCd" class="form-control query-input" ng-model="queryDimensionForm.privilegeDimensionCd">
                                            </div>
                                        </div>
                                        <div class="col-xs-5">
                                            <div class="form-group">
                                                <label class="control-label" for="namefor">权限维度名称：</label>
                                                <input type="text" id="namefor" class="form-control query-input" ng-model="queryDimensionForm.name">
                                            </div>
                                        </div>
                                        <div class="col-xs-3 text-right">
                                            <div class="form-group">
                                                <button type="submit" ng-disabled="isForbid" class="btn btn-sm btn-query"><i class="iconfont">&#xe600;</i> 查询</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- 结果 -->
                            <div class="query-dimension-result" ng-controller="queryDimensionResultCtrl">
                                <div class="row result-header">
                                    <div class="col-xs-4">
                                        <div class="title">
                                            <img src="../../images/icon_typeSetup.png">
                                            <p class="title-cn">权限维度列表</p>
                                            <p class="title-en">Authority dimension</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="result-table">
                                    <table class="table table-hover table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="6%">选择</th>
                                                <th width="12%">权限维度编码</th>
                                                <th width="15%">权限维度名称</th>
                                                <th width="32%">动态SQL</th>
                                                <th width="10%">数据类型</th>
                                                <th>描述</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in queryDimensionResultList">
                                                <td>
                                                    <input type="checkbox" name="checkbox{{$index}}" ng-click="check(item, isChecked)" ng-model="isChecked">
                                                </td>
                                                <td>
                                                    <p ng-bind="item.privilegeDimensionCd"></p>
                                                </td>
                                                <td>
                                                    <p ng-bind="item.name"></p>
                                                </td>
                                                <td>
                                                    <p ng-bind="item.dynamicSql" class="overflow-handle" title="item.dynamicSql"></p>
                                                </td>
                                                <td>
                                                    <p ng-bind="item.dataTypeName"></p>
                                                </td>
                                                <td>
                                                    <p ng-bind="item.description" class="overflow-handle" title="item.description"></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div ng-controller="paginationDimensionCtrl" class="text-center">
                                <ul uib-pagination total-items="totalNum" items-per-page="rowNumPerPage" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-cancel" type="button" ng-click="$ctrl.cancel()">取消</button>
                            <button class="btn btn-submit" type="button" ng-click="$ctrl.ok()">确定</button>
                        </div>
                    </script>

                    <script type="text/ng-template" id="dimensionInfoModal.html">
                        <div class="modal-header">
                            <button type="button" class="close iconfont" ng-click="$ctrl.cancel()">&#xe611;</button>
                            <h3 class="modal-title" id="modal-title-privilege"><i class="iconfont">&#xe614;</i>权限维度详情</h3>
                        </div>
                        <div class="modal-body" id="modal-body-privilege">
                            <div class="row mb10">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label edit-label sys_left" for="privilegeDimensionCode">权限维度编码：</label>
                                        <span id="privilegeDimensionCode" class="edit-input sys_detail" ng-bind="dimensionInfo.privilegeDimensionCd"></span>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label edit-label sys_left" for="privilegeName">权限维度名称：</label>
                                        <span id="privilegeName" class="edit-input sys_detail" ng-bind="dimensionInfo.name"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb10">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label edit-label sys_left" for="dataTypeName">数据类型：</label>
                                        <span id="dataTypeName" class="edit-input sys_detail" ng-bind="dimensionInfo.dataTypeName"></span>

                                    </div>
                                </div>
                            </div>
                            <div class="row mb10">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label edit-label sys_left" for="dynamicSql">动态SQL：</label>
                                        <span id="dynamicSql" class="edit-input sys_remark" ng-bind="dimensionInfo.dynamicSql"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb10">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label edit-label sys_left" for="description">描述：</label>
                                        <span id="description" class="edit-input sys_remark" ng-bind="dimensionInfo.description"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-cancel" type="button" ng-click="$ctrl.cancel()">关闭</button>
                        </div>
                    </script>
                </div>

                <!-- 权限可操作的模块 -->
                <div ng-controller="preveligeDoneModalCtrl as $ctrl">
                    <div class="prevelige-done-result mt20" ng-submit="preveligeDoneFormSubmit()" ng-controller="preveligeDoneFormCtrl">
                        <div class="row result-header">
                            <div class="col-xs-4">
                                <div class="title">
                                    <img src="../../images/icon_previlege.png">
                                    <p class="title-cn green">权限可操作的模块</p>
                                    <p class="title-en">Operation module</p>
                                </div>
                            </div>
                            <div class="col-xs-8 text-right">
                                <button ng-click="addPreveligeDone()" class="btn btn-xs btn-set"><i class="iconfont">&#xe60e;</i> 添加</button>
                                <button ng-click="deleteSysModular()" class="btn btn-xs btn-set"><i class="iconfont">&#xe610;</i> 删除</button>
                            </div>
                        </div>
                        <div class="result-table">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th width="5%">选择</th>
                                        <th width="15%">业务模块ID</th>
                                        <th width="15%">业务模块名称</th>
                                        <th>备注</th>
                                        <th width="8%">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in preveligeDoneResultList">
                                        <td>
                                            <input type="checkbox" name="checkbox{{$index}}" ng-click="check(item, isChecked)" ng-model="isChecked">
                                        </td>
                                        <td>
                                            <p ng-bind="item.sysModularId"></p>
                                        </td>
                                        <td>
                                            <p ng-bind="item.name"></p>
                                        </td>
                                        <td>
                                            <p ng-bind="item.description" class="overflow-handle" title="item.description"></p>
                                        </td>
                                        <td>
                                            <button ng-click="businessModuleInfo($index)" class="btn btn-xs btn-edit"><i class="iconfont">&#xe60b;</i> 详情</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <script type="text/ng-template" id="doneModalContent.html">
                        <div class="modal-header">
                            <button type="button" class="close iconfont" ng-click="$ctrl.cancel()">&#xe611;</button>
                            <h3 class="modal-title" id="modal-title-done"><i class="iconfont">&#xe61d;</i>业务模块选择</h3>
                        </div>
                        <div class="modal-body" id="modal-body-done" ng-controller="queryDoneFormCtrl">
                            <!-- 查询 -->
                            <div class="prevelige-done-query">
                                <form name="queryDone" ng-submit="queryDoneFormSubmit()"  class="form-inline" role="form">
                                    <div class="row mb10">
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label class="control-label operate-label" for="sysModularId">业务模块ID：</label>
                                                <input type="text" id="sysModularId" class="form-control query-input" ng-model="queryDoneForm.sysModularId">
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label class="control-label operate-label" for="nameDone">业务模块名称：</label>
                                                <input type="text" id="nameDone" class="form-control query-input" ng-model="queryDoneForm.name">
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label class="control-label operate-label" for="ownerSys">所属系统：</label>
                                                <select class="form-control query-input" id="sysItem" ng-model="queryDoneForm.sysItem">
                                                    <option value="">请选择系统</option>
                                                    <option ng-repeat="item in systemList" value="{{item.sysId}}">{{item.sysName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb10">
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label class="control-label operate-label" for="businessModuleType">业务模块类型：</label>
                                                <select class="form-control query-input" id="modularTypeCd" ng-model="queryDoneForm.modularTypeCd">
                                                    <option value="">请选择业务模块类型</option>
                                                    <option ng-repeat="item in sysType" value="{{item.modularTypeCd}}">{{item.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-8 text-right">
                                            <button type="submit" ng-disabled="isForbid" class="btn btn-sm btn-query"><i class="iconfont">&#xe600;</i> 查询</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- 结果 -->
                            <div class="query-done-result" ng-controller="queryDoneResultCtrl">
                                <div class="row result-header">
                                    <div class="col-xs-4">
                                        <div class="title">
                                            <img src="../../images/icon_typeSetup.png">
                                            <p class="title-cn">业务模块列表</p>
                                            <p class="title-en">Operation module</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="result-table">
                                    <table class="table table-hover table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="5%">选择</th>
                                                <th width="10%">业务模块ID</th>
                                                <th width="12%">业务模块名称</th>
                                                <th width="12%">业务模块类型</th>
                                                <th width="10%">所属系统</th>
                                                <th width="12%">上级业务模块</th>
                                                <th width="18%">模块URL</th>
                                                <th width="10%">接口方法</th>
                                                <th>描述</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in queryDoneResultList">
                                                <td>
                                                    <input type="checkbox" name="checkbox{{$index}}" ng-click="check(item, isChecked)" ng-model="isChecked">
                                                </td>
                                                <td>
                                                    <p ng-bind="item.sysModularId"></p>
                                                </td>
                                                <td>
                                                    <p ng-bind="item.name"></p>
                                                </td>
                                                <td>
                                                    <p ng-bind="item.modularTypeName"></p>
                                                </td>
                                                <td>
                                                    <p ng-bind="item.sysName"></p>
                                                </td>
                                                <td>
                                                    <p ng-bind="item.upSysModularName"></p>
                                                </td>
                                                  <td>
                                                    <p ng-bind="item.url" class="overflow-handle" title="item.url"></p>
                                                </td>
                                                <td>
                                                    <p ng-bind="item.intfFunc"></p>
                                                </td>
                                                <td>
                                                    <p ng-bind="item.description" class="overflow-handle" title="item.description"></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div ng-controller="paginationSysModularCtrl" class="text-center">
                                    <ul uib-pagination total-items="totalNum" items-per-page="rowNumPerPage" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-cancel" type="button" ng-click="$ctrl.cancel()">取消</button>
                            <button class="btn btn-submit" type="button" ng-click="$ctrl.ok()">确定</button>
                        </div>
                    </script>
                    <script type="text/ng-template" id="businessModuleInfoModal.html">
                        <div class="modal-header">
                            <button type="button" class="close iconfont" ng-click="$ctrl.cancel()">&#xe611;</button>
                            <h3 class="modal-title" id="modal-title-more"><i class="iconfont">&#xe61d;</i>业务模块详情</h3>
                        </div>
                        <div class="modal-body" id="modal-body-more">
                            <div class="row mb10">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label edit-label sys_left" for="businessModuleId">业务模块ID：</label>
                                        <span id="businessModuleId" class="edit-input sys_detail" ng-bind="businessModuleInfo.sysModularId"></span>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label edit-label sys_left" for="businessModuleName">业务模块名称：</label>
                                        <span id="businessModuleName" class="edit-input sys_detail" ng-bind="businessModuleInfo.name"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb10">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label edit-label sys_left" for="businessModuleType">业务模块类型：</label>
                                        <span id="businessModuleType" class="edit-input sys_detail" ng-bind="businessModuleInfo.modularTypeName"></span>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label edit-label sys_left" for="ownerSys">所属系统：</label>
                                        <span id="ownerSys" class="edit-input sys_detail" ng-bind="businessModuleInfo.sysName"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb10">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label edit-label sys_left" for="preBusinessModule">上级业务模块：</label>
                                        <span id="preBusinessModule" class="edit-input sys_detail" ng-bind="businessModuleInfo.upSysModularName"></span>

                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label edit-label sys_left" for="interfaceMethod">接口方法：</label>
                                        <span id="interfaceMethod" class="edit-input sys_detail" ng-bind="businessModuleInfo.intfFunc"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb10">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label edit-label sys_left" for="moduleURL">模块URL：</label>
                                        <span id="moduleURL" class="edit-input sys_remark" ng-bind="businessModuleInfo.url"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb10">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label edit-label sys_left" for="doneDescription">描述：</label>
                                        <span id="doneDescription" class="edit-input sys_remark" ng-bind="businessModuleInfo.description"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-cancel" type="button" ng-click="$ctrl.cancel()">关闭</button>
                        </div>
                    </script>
                </div>
            </div>
        </div>
    </div>
    <script src="../../lib/require.js" data-main="entry"></script>
</body>

</html>
