<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>系统管理平台-权限信息</title>
    <link href="../../lib/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="modifyOperate.css">
</head>

<body ng-app="modifyOperate">  
	<div class="modify-operate">
        <div class="modify-operate-result">
            <div class="row result-header">
                <div class="col-xs-4">
                    <div class="title">
                        <img src="../../images/icon_basicInfo.png">
                        <p class="title-cn red">基本信息</p>
                        <p class="title-en">Essential information</p>
                    </div>
                </div>
            </div>         
            <div class="result-table mb10">
                <div class="modify-operate-spec">
                    <form name="modifyOperate" ng-controller="modifyOperateFormCtrl"  ng-submit="modifyOperateFormSubmit()" class="form-inline" role="form">
                        <div class="row mb10">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label edit-label" for="operateId">权限编码：</label>
                                    <input type="input" id="operateId" class="form-control modify-input" ng-model="modifyOperateForm.operateId"  disabled>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label edit-label" for="operateName">权限名称：</label>
                                    <input type="input" id="operateName" class="form-control modify-input" ng-model="modifyOperateForm.operateName">
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label edit-label" for="operateType">权限类型：</label>
                                    <select class="form-control query-input query-select"" id="operateType" ng-model="modifyOperateForm.operateType" ng-options="opt for opt in operateType"></select>
                                </div>
                            </div>
                           
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="control-label edit-label" for="description">权限描述：</label>
                                    <input type="input" id="description" class="form-control modify-input" ng-model="modifyOperateForm.description">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>                  
            
            <!-- 权限对应的维度 -->
            <div ng-controller="AddPreveligeDimensionModalCtrl as $ctrl">
                <div class="operate-spec-result mb10" ng-controller="preveligeDimensionFormCtrl">
                    <div class="row result-header">
                        <div class="col-xs-4">
                            <div class="title">
                                <img src="../../images/icon_typeSetup.png">
                                <p class="title-cn">权限对应的维度</p>
                                <p class="title-en">Authority dimension</p>
                            </div>
                        </div>
                        <div class="col-xs-8 text-right"> 
                            <button ng-click="addPreveligeDimension('新增权限类型')" class="btn btn-xs btn-set"><i class="iconfont">&#xe60e;</i> 添加</button>
                            <button ng-click="" class="btn btn-xs btn-set"><i class="iconfont">&#xe610;</i> 删除</button>
                        </div>
                    </div>
                    <div class="result-table">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>选择</th>
                                    <th>权限维度编码</th>
                                    <th>权限维度名称</th>
                                    <th>备注</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in preveligeDimensionResultList">
                                    <td>
                                        <input type="checkbox" name="checkbox{{$index}}">
                                    </td>
                                    <td>
                                        <p ng-bind="item.dimensionCode"></p>
                                    </td>
                                    <td>
                                        <p ng-bind="item.dimensionName"></p>
                                    </td>
                                    <td>
                                        <p ng-bind="item.remark"></p>
                                    </td>
                                    <td>
                                        <button ng-click="infoPreveligeDimension($index)" class="btn btn-xs btn-edit"><i class="iconfont">&#xe60b;</i> 详情</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-controller="paginationCtrl" class="text-center">
                        <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                    </div>
                </div>
                <script type="text/ng-template" id="myModalContent.html">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="$ctrl.cancel()">Close</button>
                        <h3 class="modal-title" id="modal-title"><i class="iconfont">&#xe614;</i>权限维度选择</h3>
                    </div>
                    <div class="modal-body" id="modal-body">
                        <!-- 查询 -->
                        <div class="prevelige-dimension-query">
                            <form name="queryDimension" ng-submit="queryDimensionFormSubmit()" ng-controller="queryDimensionFormCtrl" class="form-inline" role="form">
                                <div class="row mb10">
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label class="control-label" for="dimensionCode">权限维度编码：</label>
                                            <input type="input" id="dimensionCode" class="form-control query-input" ng-model="queryDimensionForm.dimensionCode">
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label class="control-label" for="dimensionName">权限维度名称：</label>
                                            <input type="input" id="dimensionName" class="form-control query-input" ng-model="queryDimensionForm.dimensionName">
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group text-right">
                                            <button type="submit" ng-disabled="isForbid" class="btn btn-sm btn-query"><i class="iconfont">&#xe600;</i> 查询</button>
                                        </div>
                                    </div>
                                </div> 
                            </form>
                        </div>
                        <!-- 结果 -->
                        <div class="query-dimension-result" ng-controller="queryDimensionResultCtrl">
                            <div class="row result-header">
                                <div class="col-xs-4">
                                    <div class="title">
                                        <img src="../../images/icon_typeSetup.png">
                                        <p class="title-cn">权限维度列表</p>
                                        <p class="title-en">Authority dimension</p>
                                    </div>
                                </div>
                            </div>
                            <div class="result-table">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>权限维度编码</th>
                                            <th>权限维度名称</th>
                                            <th>描述</th>
                                            <th>动态SQL</th>
                                            <th>数据类型</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in queryDimensionResultList">
                                            <td>
                                                <input type="radio" name="dimensionRadio" ng-click="selectQueryDimension($index)">
                                            </td>
                                            <td>
                                                <p ng-bind="item.dimensionCode"></p>
                                            </td>
                                            <td>
                                                <p ng-bind="item.dimensionName"></p>
                                            </td>
                                            <td>
                                                <p ng-bind="item.remark"></p>
                                            </td>
                                            <td>
                                                <p ng-bind="item.moveSQL"></p>
                                            </td>
                                            <td>
                                                <p ng-bind="item.dataType"></p>
                                            </td>
                                           
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-controller="paginationCtrl" class="text-center">
                                <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-cancel" type="button" ng-click="$ctrl.cancel()">取消</button>
                        <button class="btn btn-submit" type="button" ng-click="$ctrl.ok()">确定</button>
                    </div>
                </script>
            </div>

            <!-- 权限可操作的模块 -->
            <div ng-controller="preveligeDoneModalCtrl as $ctrl">
                <div class="prevelige-done-result" ng-submit="preveligeDoneFormSubmit()" ng-controller="preveligeDoneFormCtrl">
                    <div class="row result-header">
                        <div class="col-xs-4">
                            <div class="title">
                                <img src="../../images/icon_previlege.png">
                                <p class="title-cn green">权限可操作的模块</p>
                                <p class="title-en">Operation module</p>
                            </div>
                        </div>
                        <div class="col-xs-8 text-right"> 
                            <button ng-click="addPreveligeDone('新增模块')" class="btn btn-xs btn-set"><i class="iconfont">&#xe60e;</i> 添加</button>
                            <button ng-click="" class="btn btn-xs btn-set"><i class="iconfont">&#xe610;</i> 删除</button>
                        </div>
                    </div>
                    <div class="result-table">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>业务模块ID</th>
                                    <th>业务模块名称</th>
                                    <th>备注</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in preveligeDoneResultList">
                                    <td>
                                        <p ng-bind="item.businessModuleId"></p>
                                    </td>
                                    <td>
                                        <p ng-bind="item.businessModuleName"></p>
                                    </td>
                                    <td>
                                        <p ng-bind="item.remark"></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-controller="paginationCtrl" class="text-center">
                        <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <button class="btn btn-cancel">取消</button>
                            <button type="submit" ng-disabled="isForbid" class="btn btn-submit">保存</button>
                        </div>
                    </div>
                </div>
                 <script type="text/ng-template" id="myModalContent.html">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="$ctrl.cancel()">Close</button>
                        <h3 class="modal-title" id="modal-title"><i class="iconfont">&#xe614;</i>业务模块选择</h3>
                    </div>
                    <div class="modal-body" id="modal-body">
                        <!-- 查询 -->
                        <div class="prevelige-dimension-query">
                            <form name="queryDimension" ng-submit="queryDimensionFormSubmit()" ng-controller="queryDimensionFormCtrl" class="form-inline" role="form">
                                <div class="row mb10">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label class="control-label" for="dimensionCode">业务模块ID：</label>
                                            <input type="input" id="dimensionCode" class="form-control query-input" ng-model="queryDimensionForm.dimensionCode">
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label class="control-label" for="dimensionName">业务模块名称：</label>
                                            <input type="input" id="dimensionName" class="form-control query-input" ng-model="queryDimensionForm.dimensionName">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb10">
                                    <div class="col-xs-6">
                                        <div class="form-group text-right">
                                            <label class="control-label" for="dimensionName">所属系统：</label>
                                            <select class="form-control query-input query-select"" id="operateType" ng-model="modifyOperateForm.operateType" ng-options="opt for opt in operateType"></select>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group text-right">
                                            <label class="control-label" for="dimensionName">业务模块类型：</label>
                                            <select class="form-control query-input query-select"" id="operateType" ng-model="modifyOperateForm.operateType" ng-options="opt for opt in operateType"></select>
                                        </div>
                                    </div>
                                </div> 
                            </form>
                        </div>
                        <!-- 结果 -->
                        <div class="query-dimension-result" ng-controller="queryDimensionResultCtrl">
                            <div class="row result-header">
                                <div class="col-xs-4">
                                    <div class="title">
                                        <img src="../../images/icon_typeSetup.png">
                                        <p class="title-cn">权限维度列表</p>
                                        <p class="title-en">Authority dimension</p>
                                    </div>
                                </div>
                            </div>
                            <div class="result-table">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>权限维度编码</th>
                                            <th>权限维度名称</th>
                                            <th>描述</th>
                                            <th>动态SQL</th>
                                            <th>数据类型</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in queryDimensionResultList">
                                            <td>
                                                <input type="radio" name="dimensionRadio" ng-click="selectQueryDimension($index)">
                                            </td>
                                            <td>
                                                <p ng-bind="item.dimensionCode"></p>
                                            </td>
                                            <td>
                                                <p ng-bind="item.dimensionName"></p>
                                            </td>
                                            <td>
                                                <p ng-bind="item.remark"></p>
                                            </td>
                                            <td>
                                                <p ng-bind="item.moveSQL"></p>
                                            </td>
                                            <td>
                                                <p ng-bind="item.dataType"></p>
                                            </td>
                                           
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-controller="paginationCtrl" class="text-center">
                                <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-cancel" type="button" ng-click="$ctrl.cancel()">取消</button>
                        <button class="btn btn-submit" type="button" ng-click="$ctrl.ok()">确定</button>
                    </div>
                </script>
            </div>
        </div>
    </div>
<script src="../../lib/angular.min.js"></script>
<script src="../../lib/angular-touch.min.js"></script>
<script src="../../lib/angular-animate.min.js"></script>
<script src="../../lib/angular-aria.min.js"></script>
<script src="../../lib/jquery.min.js"></script>
<script src="../../lib/bootstrap.min.js"></script>
<script src="../../lib/ui-bootstrap.js"></script>
<script src="../../lib/ui-bootstrap-tpls-2.1.3.js"></script>
<script src="modifyOperate.js"></script>
</body>

</html>
