<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>系统管理平台-员工授权</title>
    <link href="../../lib/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="authorize.css">
</head>

<body ng-app="authorizeStaff">
    <div class="authorize-staff">
        <p class="authorize-staff-title">员工信息</p>
        <div class="row mb10">
            <div class="col-xs-3">
                <p class="staff-attribute">员工名称：<span ng-bind="staffManInformation.staffName"></span></p>
            </div>
            <div class="col-xs-3">
                <p class="staff-attribute">员工工号：<span ng-bind="staffManInformation.staffJobId"></span></p>
            </div>
            <div class="col-xs-3">
                <p class="staff-attribute">系统账号<span ng-bind="staffManInformation.systemAccount"></span></p>
            </div>
            <div class="col-xs-3">
                <p class="staff-attribute">手机号码：<span ng-bind="staffManInformation.staffPhoneNum"></span></p>
            </div>
        </div>
        <div>
            <uib-tabset active="activePill" vertical="true" type="pills">
                <uib-tab index="0" heading="分配权限">
                    <!-- 弹出 -->
                    <div ng-controller="addAuthorityModalCtrl as $ctrl">
                        <!-- 已分配权限列表 -->
                        <div class="staff-man-result" ng-controller="assignedAuthorityListCtrl">
                            <div class="row result-header">
                                <div class="col-xs-4">
                                    <div class="title">
                                        <img src="../../images/icon_typeSetup.png">
                                        <p class="title-cn">已分配权限列表</p>
                                        <p class="title-en">Assigned authority list</p>
                                    </div>
                                </div>
                                <div class="col-xs-8 text-right">
                                    <button ng-click="addAuthority()" class="btn btn-xs btn-set"><i class="iconfont">&#xe60e;</i> 添加新权限</button>
                                    <button ng-click="" class="btn btn-xs btn-set"><i class="iconfont">&#xe610;</i> 删除已分配权限</button>
                                </div>
                            </div>
                            <div class="result-table">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>权限规格ID</th>
                                            <th>权限规格名称</th>
                                            <th>权限规格编码</th>
                                            <th>权限类型</th>
                                            <th>描述</th>
                                            <th>分配时间</th>
                                            <th>权限管理角色</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in assignedAuthorityList">
                                            <td>
                                                <input type="checkbox" name="checkbox{{$index}}">
                                            </td>
                                            <td>
                                                <p ng-bind="item.authorityId"></p>
                                            </td>
                                            <td>
                                                <p ng-bind="item.authorityName"></p>
                                            </td>
                                            <td>
                                                <p ng-bind="item.authorityCode"></p>
                                            </td>
                                            <td>
                                                <p ng-bind="item.authorityType"></p>
                                            </td>
                                            <td>
                                                <p ng-bind="item.describe"></p>
                                            </td>
                                            <td>
                                                <p ng-bind="item.createDate"></p>
                                            </td>
                                            <td>
                                                <p ng-bind="item.authorityRole"></p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-controller="paginationCtrl" class="text-center">
                                <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                            </div>
                        </div>
                        <script type="text/ng-template" id="addAuthorityModal.html">
                            <div class="modal-header">
                                <button type="button" class="close" ng-click="$ctrl.cancel()">Close</button>
                                <h3 class="modal-title" id="modal-title"><i class="iconfont">&#xe603;</i>新增权限</h3>
                            </div>
                            <div class="modal-body" id="modal-body">
                                <!-- 查询 -->
                                <div class="staff-man-query">
                                    <form name="queryAuthority" ng-submit="queryAuthorityFormSubmit()" ng-controller="queryAuthorityFormCtrl" class="form-inline" role="form">
                                        <div class="row mb10">
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <label class="control-label edit-label" for="authorityCode">权限规格编码：</label>
                                                    <input type="input" id="authorityCode" class="form-control query-input" ng-model="queryAuthorityForm.authorityCode">
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <label class="control-label edit-label" for="authorityName">权限规格名称：</label>
                                                    <input type="input" id="authorityName" class="form-control query-input" ng-model="queryAuthorityForm.authorityName">
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <label class="control-label edit-label" for="authorityType">权限规格类型：</label>
                                                    <select class="form-control query-input" id="authorityType" ng-model="queryAuthorityForm.authorityType" ng-options="opt for opt in authorityTypeList"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 text-right">
                                                <button type="submit" ng-disabled="isForbid" class="btn btn-sm btn-query"><i class="iconfont">&#xe600;</i> 查询</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- 结果 -->
                                <div class="staff-man-result" ng-controller="staffManResultCtrl">
                                    <div class="row result-header">
                                        <div class="col-xs-4">
                                            <div class="title">
                                                <img src="../../images/icon_typeSetup.png">
                                                <p class="title-cn">权限规格列表</p>
                                                <p class="title-en">Authority specification list</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="result-table">
                                        <table class="table table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>选择</th>
                                                    <th>权限规格ID</th>
                                                    <th>权限规格名称</th>
                                                    <th>权限规格编码</th>
                                                    <th>权限类型</th>
                                                    <th>描述</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in staffManResultList">
                                                    <td>
                                                        <input type="radio" name="staffRadio" ng-click="selectStaffMan($index)">
                                                    </td>
                                                    <td>
                                                        <p ng-bind="item.authorityId"></p>
                                                    </td>
                                                    <td>
                                                        <p ng-bind="item.authorityName"></p>
                                                    </td>
                                                    <td>
                                                        <p ng-bind="item.authorityCode"></p>
                                                    </td>
                                                    <td>
                                                        <p ng-bind="item.authorityType"></p>
                                                    </td>
                                                    <td>
                                                        <p ng-bind="item.describe"></p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div ng-controller="paginationCtrl" class="text-center">
                                        <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-cancel" type="button" ng-click="$ctrl.cancel()">关闭</button>
                                <button class="btn btn-submit" type="button" ng-disabled="isForbidSubmit" ng-click="$ctrl.ok()">确定</button>
                            </div>
                        </script>
                    </div>
                    <!-- 弹出 -->
                    <div ng-controller="authorityDimensionModalCtrl as $ctrl">
                        <!-- 权限维度列表 -->
                        <div class="staff-man-result" ng-controller="authorityDimensionListCtrl">
                            <div class="row result-header">
                                <div class="col-xs-12">
                                    <div class="title">
                                        <img src="../../images/icon_typeSetup.png">
                                        <p class="title-cn">权限维度列表</p>
                                        <p class="title-en">Authority dimension list</p>
                                    </div>
                                </div>
                            </div>
                            <div class="result-table">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>权限维度编码</th>
                                            <th>权限维度名称</th>
                                            <th>动态SQL</th>
                                            <th>维度值</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in authorityDimensionList">
                                            <td>
                                                <p ng-bind="item.dimensionCode"></p>
                                            </td>
                                            <td>
                                                <p ng-bind="item.dimensionName"></p>
                                            </td>
                                            <td>
                                                <p ng-bind="item.dynamicSQL"></p>
                                            </td>
                                            <td>
                                                <p ng-bind="item.dimensionValue"></p>
                                            </td>
                                            <td>
                                                <button ng-click="setDimension()" class="btn btn-xs btn-edit"><i class="iconfont">&#xe601;</i> 设置</button>
                                                <button ng-click="" class="btn btn-xs btn-edit"><i class="iconfont">&#xe61c;</i> 查看</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-controller="paginationCtrl" class="text-center">
                                <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                            </div>
                        </div>
                        <script type="text/ng-template" id="setDimensionModalContent.html">
                            <div class="modal-header">
                                <button type="button" class="close" ng-click="$ctrl.cancel()">Close</button>
                                <h3 class="modal-title" id="modal-title"><i class="iconfont">&#xe603;</i>权限维度设置</h3>
                            </div>
                            <div class="modal-body" id="modal-body">
                                <p>维度设置</p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-cancel" type="button" ng-click="$ctrl.cancel()">关闭</button>
                                <button class="btn btn-submit" type="button" ng-disabled="isForbidSubmit" ng-click="$ctrl.ok()">确定</button>
                            </div>
                        </script>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="分配角色">分配角色</uib-tab>
            </uib-tabset>
        </div>
    </div>
    <script src="../../lib/angular.min.js"></script>
    <script src="../../lib/angular-touch.min.js"></script>
    <script src="../../lib/angular-animate.min.js"></script>
    <script src="../../lib/angular-aria.min.js"></script>
    <script src="../../lib/jquery.min.js"></script>
    <script src="../../lib/bootstrap.min.js"></script>
    <script src="../../lib/ui-bootstrap.js"></script>
    <script src="../../lib/ui-bootstrap-tpls-2.1.3.js"></script>
    <script src="authorize.js"></script>
</body>

</html>
