.staff-man {
    padding: 10px 20px 0;
}

.sys_left {
    float: left;
    display: inline-block;
    height: 34px;
    line-height: 34px;
}

/* 查询 */
.staff-man-query {
    padding: 10px 15px;
    border: 1px solid #ddd;
}

.query-input {
    height: 25px;
}

/* 结果 */
.staff-man-result {
    margin-top: 10px;
}

.result-header {
    height: 37px;
    margin: 0;
    line-height: 32px;
    border: 1px solid #ddd;
    border-bottom: none;
}

.result-header .title {
    position: relative;
    padding-top: 4px;
    padding-left: 32px;
    line-height: 16px;
}

.result-header .title img {
    position: absolute;
    top: 4px;
    left: 0;
}

.result-header .title .title-cn {
    color: #4c9ef5;
    font-size: 14px;
}

.result-header .title .title-en {
    color: #ddd;
    font-size: 12px;
}

.btn-set {
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffc619;
    border-color: #ffc619;
    color: #fff;
    font-size: 12px;
}

.btn-set:focus, .btn-set.focus {
    background-color: #e4ae0c;
    border-color: #e4ae0c;
    color: #fff;
}

.btn-set:hover {
    background-color: #e4ae0c;
    border-color: #e4ae0c;
    color: #fff;
}

.result-table table th {
    background-color: #f5fafa;
    border-bottom-width: 1px !important;
    color: #333;
    font-weight: 800;
    text-align: center;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    padding: 5px 0;
}

.result-table table td {
    padding: 2px !important;
    text-align: center;
}

.result-table table td p {
    height: 25px;
    line-height: 25px;
}

.btn-edit {
    background-color: #b1cc00;
    color: #fff;
}

.btn-edit:focus, .btn-edit.focus {
    background-color: #a4bc04;
    color: #fff;
}

.btn-edit:hover {
    background-color: #a4bc04;
    color: #fff;
}

/* 弹出框 */
.modal-content {
    border-radius: 0;
}

.modal-header {
    background-color: #ffb319;
}

.modal-title {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.modal-title .iconfont {
    margin-right: 6px;
}

.edit-label {
    width: 100px !important;
    text-align: right;
}

.edit-input {
    width: 200px !important;
}

.mb10 {
    margin-bottom: 10px;
}

.modal-footer {
    text-align: center !important;
}

.pr3 {
    padding-right: 14px;
}

.query-select {
    width: 201px !important;
    height: 30px;
    line-height: 30px;
    padding: 0 9px;
    background: url(../../images/select_bg.jpg) no-repeat 180px center;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.sys_label {
    width: 84px !important;
    text-align: right;
}

.sys_detail {
    display: block;
    width: 200px;
    height: 34px;
    line-height: 34px;
    color: #555;
    border-bottom: 1px solid #ccc;
    float: left;
}

.detail_table {
    width: 100%;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.detail_table tr td {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    height: 12px;
    line-height: 12px;
}

.detail_table_left {
    text-align: right;
    font-weight: bold;
}

/* input 百分比 */
.form-group {
    position: relative;
    width: 100% !important;
    padding-left: 100px;
}

.form-group label {
    position: absolute;
    left: 0;
    width: 100px !important;
    line-height: 25px;
    text-align: right;
}

.form-group input[type="text"] {
    width: 100% !important;
}

.form-group select {
    width: 100% !important;
}

.form-group textarea {
    width: 100% !important;
}
