<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>系统管理平台-新增修改角色</title>
    <link rel="stylesheet" href="../../lib/css/sweetalert.css">
    <link href="../../lib/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="detailRole.css">
</head>

<body>
    <form name="modifyRole" ng-submit="modifyRoleFormSubmit()" ng-controller="modifyRoleFormCtrl" class="form-inline" role="form">
        <div class="modify-staff">
            <div class="staff-man-result">
                <div class="row result-header">
                    <div class="col-xs-4">
                        <div class="title">
                            <img src="../../images/icon_info.png">
                            <p class="title-cn-info">基本信息</p>
                            <p class="title-en">Essential information</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="result-table">
                    <div class="modify-staff-man">

                            <div class="row mb10">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="control-label edit-label" for="roleId">角色ID：</label>
                                        <input type="text" id="roleId" class="form-control detail-input" ng-model="modifyRoleForm.roleId" disabled>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                        <div class="form-group">
                                            <label class="control-label edit-label" for="name">角色名称：</label>
                                            <input type="text" id="name" class="form-control detail-input" ng-model="modifyRoleForm.name" disabled>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label class="control-label edit-label" for="startDt">生效日期：</label>
                                            <p id="startDt" class="form-control detail-p" ng-bind="modifyRoleForm.startDt | date:'yyyy-MM-dd HH:mm:ss'"></p>
                                        </div>
                                    </div>
                                    </div>
                                <div class="row mb10">
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label class="control-label edit-label" for="endDt">失效日期：</label>
                                            <p id="endDt" class="form-control detail-p" ng-bind="modifyRoleForm.endDt | date:'yyyy-MM-dd HH:mm:ss'"></p>
                                        </div>
                                    </div>
                                    <div class="col-xs-8">
                                        <div class="from-group">
                                            <label class="control-label edit-label" for="description">描述：</label>
                                            <input id="description" class="form-control detail-input input_wh500" ng-model="modifyRoleForm.description" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modify-staff" ng-controller="selectRoleModalCtrl as $ctrl">
            <div class="staff-man-result">
                <div class="row result-header">
                    <div class="col-xs-4">
                        <div class="title">
                            <img src="../../images/icon_typeSetup.png">
                            <p class="title-cn">角色所具有的权限</p>
                            <p class="title-en">Role permission</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="result-table">
                        <table class="table table-hover table-bordered">
                            <tr>
                                <th>选择</th>
                                <th>权限规格编码</th>
                                <th>权限规格名称</th>
                                <th>权限类型</th>
                                <th>备注</th>
                            </tr>
                            <tr ng-repeat="item in OperateSpecList">
                                <td>
                                    <input type="checkbox" name="checkbox{{$index}}" ng-click="check(item, isChecked)" ng-model="isChecked">
                                </td>
                                <td ng-bind="item.operationSpecCd"></td>
                                <td ng-bind="item.name"></td>
                                <td ng-bind="item.operationSpecTypeName"></td>
                                <td ng-bind="item.stateName"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="../../lib/require.js" data-main="entry"></script>
</body>

</html>
