<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>系统管理平台-用户授权管理</title>
    <link href="../../lib/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="userPrivilege.css">
</head>

<body>
    <div class="staff-man" ng-controller="queryStaffFormCtrl">
        <!-- 查询 -->
        <div class="staff-man-query">
            <form name="queryStaff" ng-submit="queryStaffFormSubmit()" class="form-inline" role="form">
                <div class="row mb10">
                    <div class="col-xs-4 text-right">
                        <div class="form-group">
                            <label class="control-label" for="loginCode">系统账号：</label>
                            <input type="input" id="loginCode" class="form-control query-input" ng-model="queryStaffForm.loginCode">
                        </div>
                    </div>
                    <div class="col-xs-4 text-right">
                        <div class="form-group">
                            <label class="control-label" for="staffNumber">员工工号：</label>
                            <input type="input" id="staffNumber" class="form-control query-input" ng-model="queryStaffForm.staffNumber">
                        </div>
                    </div>
                    <div class="col-xs-4 text-right">
                        <div class="form-group">
                            <label class="control-label" for="name">员工姓名：</label>
                            <input type="input" id="name" class="form-control query-input" ng-model="queryStaffForm.name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 text-right">
                        <div class="form-group">
                            <label class="control-label" for="mobileTel">手机号码：</label>
                            <input type="input" id="mobileTel" class="form-control query-input" ng-model="queryStaffForm.mobileTel">
                        </div>
                    </div>
                    <div class="col-xs-8 text-right">
                        <button type="submit" class="btn btn-sm btn-query"><i class="iconfont">&#xe600;</i> 查询</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- 结果 -->
        <div class="staff-man-result" ng-controller="staffManResultCtrl">
            <div class="row result-header">
                <div class="col-xs-12">
                    <div class="title">
                        <img src="../../images/icon_userPrivilege.png">
                        <p class="title-cn">系统用户列表</p>
                        <p class="title-en">System user list</p>
                    </div>
                </div>
            </div>
            <div class="result-table">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>用户ID</th>
                            <th>用户账户</th>
                            <th>员工工号</th>
                            <th>员工姓名</th>
                            <th>手机号码</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in staffManResultList">
                            <td>
                                <p ng-bind="item.userId"></p>
                            </td>
                            <td>
                                <p ng-bind="item.loginCode"></p>
                            </td>
                            <td>
                                <p ng-bind="item.staffNumber"></p>
                            </td>
                            <td>
                                <p ng-bind="item.name"></p>
                            </td>
                            <td>
                                <p ng-bind="item.mobileTel"></p>
                            </td>
                            <td>
                                <p ng-bind="item.remaeks"></p>
                            </td>
                            <td>
                                <button ng-click="authorize($index)" class="btn btn-xs btn-edit"><i class="iconfont">&#xe619;</i> 授权</button>
                                <button ng-click="detailPrivilege($index)" class="btn btn-xs btn-edit"><i class="iconfont">&#xe61a;</i> 权限详情</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-controller="paginationCtrl" class="text-center">
                <ul uib-pagination total-items="totalNum" items-per-page="rowNumPerPage" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
            </div>
        </div>
    </div>
    <script src="../../lib/require.js" data-main="entry"></script>
</body>

</html>
