<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>系统管理平台-新增业务模块</title>
    <link rel="stylesheet" href="../../../../lib/css/sweetalert.css">
    <link href="../../../../lib/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../../css/reset.css">
    <link rel="stylesheet" href="../../../../css/common.css">
    <link rel="stylesheet" href="modifiedSys.css">
</head>

<body>
    <div class="modify-staff">
        <div class="staff-man-result">
            <div class="row result-header">
                <div class="col-xs-4">
                    <div class="title">
                        <img src="../../../../images/icon_typeSetup.png">
                        <p class="title-cn lh30">权限规格列表</p>
                    </div>
                </div>
            </div>
            <!-- 弹出 -->
            <div ng-controller="selectSysModalCtrl as $ctrl">
                <div class="result-table">
                    <div class="modify-staff-man">
                        <form name="modifySys" ng-submit="modifySysFormSubmit()" ng-controller="modifySysFormCtrl" class="form-inline" role="form">
                            <div class="row mb10">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="control-label edit-label" for="sysModularId">业务模块ID：</label>
                                        <input type="input" id="sysModularId" class="form-control modify-input" ng-model="modifySysForm.sysModularId" disabled>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="control-label edit-label" for="name">业务模块名称：</label>
                                        <input type="input" id="name" class="form-control modify-input" ng-model="modifySysForm.name" >
                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="control-label edit-label" for="modularTypeCd">业务模块类型：</label>
                                        <label for="modularTypeCdItem">
                                        <select name="modularTypeCdItem" class="form-control modify-input" id="modularTypeCdItem" ng-model="modifySysForm.modularTypeCdItem">
                                            <option value="">请选择业务模块类型</option>
                                            <option ng-repeat="item in sysType" value="{{item.modularTypeCd}}" ng-bind="item.name"></option>
                                        </select>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb10">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="control-label edit-label" for="sysName">所属系统：</label>
                                        <select class="form-control modify-input" id="sysIdItem" ng-model="modifySysForm.sysIdItem">
                                            <option value="">请选择所属系统</option>
                                            <option ng-repeat="item in systemList" value="{{item.sysId}}" ng-bind="item.sysName"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="control-label edit-label" for="upSysModularName">上级业务模块：</label>
                                        <input type="input" id="upSysModularName" class="form-control jobId-input" ng-model="modifySysForm.upSysModularName" disabled>
                                        <button type="button" ng-click="checkSyslist()" class="btn btn-sm btn-jobId">选择</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb10">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label edit-label" for="url">模块URL：</label>
                                        <input type="input" id="url" class="form-control modify-input input_w805" ng-model="modifySysForm.url" ng-="modifySysForm.checkDefault">
                                    </div>
                                </div>
                            </div>
                            <div class="row mb10">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label edit-label" for="intfFunc">接口方法：</label>
                                        <input type="input" id="intfFunc" class="form-control modify-input input_w805" ng-model="modifySysForm.intfFunc" ng-="modifySysForm.checkDefault">
                                    </div>
                                </div>
                            </div>
                            <div class="row mb10">
                                <div class="col-xs-12">
                                    <div class="from-group">
                                        <label class="control-label edit-label" for="description">描述：</label>
                                        <textarea id="description" class="form-control remark" ng-model="modifySysForm.description"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <button type="submit" ng-="isForbid" class="btn btn-submit">保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <script type="text/ng-template" id="myModalContent.html">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="$ctrl.cancel()">Close</button>
                        <h3 class="modal-title" id="modal-title"><i class="iconfont">&#xe603;</i>业务模块选择</h3>
                    </div>
                    <div class="modal-body" id="modal-body" ng-controller="querySysFormCtrl">
                        <!-- 查询 -->
                        <div class="staff-man-query clearfix">
                            <form name="querySys" ng-submit="querySysFormSubmit()" class="form-inline" role="form">
                                    <div class="row mb10">
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label class="control-label sys_label" for="sysModularId">业务模块ID：</label>
                                                <input type="input" id="sysModularId" class="form-control modify-input" ng-model="querySysForm.sysModularId">
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label class="control-label sys_label" for="name">业务模块名称：</label>
                                                <input type="input" id="name" class="form-control modify-input" ng-model="querySysForm.name">
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label class="control-label sys_label" for="sysIdItem">所属系统：</label>
                                                <select class="form-control modify-input" id="sysIdItem" ng-model="querySysForm.sysIdItem" ng-options="item as item.sysName for item in systemList track by item.sysId"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb10">
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label class="control-label sys_label" for="modularTypeName">业务模块类型：</label>
                                                <select class="form-control modify-input" id="modularTypeCdItem" ng-model="querySysForm.modularTypeCdItem" ng-options="item as item.name for item in sysType track by item.modularTypeCd" ></select>
                                            </div>
                                        </div>
                                        <div class="col-xs-4"></div>
                                        <div class="col-xs-4">
                                            <div class="row">
                                                <div class="col-xs-12 text-right">
                                                    <button type="submit" class="btn btn-sm btn-query"><i class="iconfont">&#xe600;</i> 查询</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                            </form>
                        </div>
                        <!-- 结果 -->
                        <div class="staff-man-result" ng-controller="selectSysModalCtrl as $ctrl">
                            <div class="row result-header">
                                <div class="col-xs-4">
                                    <div class="title">
                                        <img src="../../../../images/icon_staffList.png">
                                        <p class="title-cn lh30">权限规格列表</p>
                                    </div>
                                </div>
                            </div>
                            <div class="result-table" ng-controller="sysListResultCtrl">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>业务模块ID</th>
                                            <th>业务模块名称</th>
                                            <th>业务模块类型</th>
                                            <th>所属系统</th>
                                            <th>上级业务模块</th>
                                            <th>描述</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in sysListResultList">
                                            <td>
                                                <input type="radio" name="sysRadio" ng-click="selectSysList($index)">
                                            </td>
                                            <td>
                                                <p ng-bind="item.sysModularId"></p>
                                            </td>
                                            <td>
                                                <p ng-bind="item.name"></p>
                                            </td>
                                            <td>
                                                <p ng-bind="item.modularTypeName"></p>
                                            </td>
                                            <td>
                                                <p ng-bind="item.sysName"></p>
                                            </td>
                                            <td>
                                                <p ng-bind="item.upSysModularName"></p>
                                            </td>
                                            <td>
                                                <p ng-bind="item.description"></p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-controller="paginationCtrl" class="text-center">
                                <ul uib-pagination total-items="totalNum" items-per-page="rowNumPerPage" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-cancel" type="button" ng-click="$ctrl.cancel()">关闭</button>
                        <button class="btn btn-submit" type="button" ng-click="$ctrl.ok()">确定</button>
                    </div>
                </script>
            </div>
        </div>
    </div>
    <script src="../../../lib/require.js" data-main="entry"></script>
</body>

</html>
