<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>系统管理平台-新增业务模块</title>
    <link href="../../../../lib/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../../css/reset.css">
    <link rel="stylesheet" href="../../../../css/common.css">
    <link rel="stylesheet" href="addrole.css">
</head>

<body ng-app="modifyPower">

    <div class="modify-staff">
        <div class="staff-man-result">
            <div class="row result-header">
                <div class="col-xs-4">
                    <div class="title">
                        <img src="../../../../images/icon_info.png">
                        <p class="title-cn-info">基本信息</p>
                        <p class="title-en">Essential information</p>
                    </div>
                </div>
            </div>
            <!-- 弹出 -->
            <div ng-controller="selectPowerModalCtrl as $ctrl">
                <div class="result-table">
                    <div class="modify-staff-man">
                        <form name="modifySys" ng-submit="modifySysFormSubmit()" ng-controller="modifySysFormCtrl" class="form-inline" role="form">
                            <div class="row mb10">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="control-label label_wh70" for="roleId">角色ID：</label>
                                        <input type="password" id="roleId" class="form-control modify-input" ng-model="modifySysForm.roleId" ng-="modifySysForm.checkDefault">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="control-label label_wh70" for="roleName">角色名称：</label>
                                        <input type="password" id="roleName" class="form-control modify-input" ng-model="modifySysForm.roleName" ng-="modifySysForm.checkDefault">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="control-label label_wh70" for="roleStart">生效时间：</label>
                                        <input type="input" id="roleStart" class="form-control modify-input" ng-model="modifySysForm.roleStart">
                                    </div>
                                </div>
                            </div>
                            <div class="row mb10">
                                <div class="col-xs-4">
                                    <div class="from-group">
                                        <label class="control-label label_wh70" for="roleExpire">失效时间：</label>
                                        <input type="input" id="roleExpire" class="form-control modify-input" ng-model="modifySysForm.roleExpire">
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <div class="from-group">
                                        <label class="control-label label_wh70" for="roleDescribe">描述：</label>
                                        <input type="input" id="roleDescribe" class="form-control input_wh495" ng-model="modifySysForm.roleDescribe">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modify-staff" ng-controller="selectPowerModalCtrl as $ctrl">
        <div class="staff-man-result" ng-submit="modifySysFormSubmit()" ng-controller="modifySysFormCtrl" role="form">
            <div class="row result-header">
                <div class="col-xs-4">
                    <div class="title">
                        <img src="../../../../images/icon_typeSetup.png">
                        <p class="title-cn">角色所具有的权限</p>
                        <p class="title-en">Role permission</p>
                    </div>
                </div>
                <div class="col-xs-8 text-right">
                        <a ng-click="checkPowerlist()" class="btn btn-xs btn-set"><i class="iconfont">&#xe60e;</i> 新建</a>
                        <button ng-click="" class="btn btn-xs btn-set"><i class="iconfont">&#xe610;</i> 删除</button>
                    </div>
            </div>
            <!-- 弹出 -->
            <div>
                <div class="result-table">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>选择</th>
                                    <th>权限规格ID</th>
                                    <th>权限规格编码</th>
                                    <th>权限类型</th>
                                    <th>备注</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="modifySysForm in powerList">
                                    <td>
                                        <input type="radio" name="powerRadio" ng-click="selectPowerList($index)">
                                    </td>
                                    <td>
                                        <p ng-bind="modifySysForm.powerId"></p>
                                    </td>
                                    <td>
                                        <p ng-bind="modifySysForm.powerCode"></p>
                                    </td>
                                    <td>
                                        <p ng-bind="modifySysForm.powerType"></p>
                                    </td>
                                    <td>
                                        <p ng-bind="modifySysForm.powerSupmodule"></p>
                                    </td>
                                </tr>
                             </tbody>
                        </table>

                </div>

                <script type="text/ng-template" id="myModalContent.html">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="$ctrl.cancel()">Close</button>
                        <h3 class="modal-title" id="modal-title"><i class="iconfont">&#xe603;</i>权限选择</h3>
                    </div>
                    <div class="modal-body" id="modal-body">
                        <!-- 查询 -->
                        <div class="staff-man-query clearfix">
                            <form name="queryPower" ng-submit="queryPowerFormSubmit()" ng-controller="queryPowerFormCtrl" class="form-inline" role="form">
                                <div class="row mb10">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label class="control-label sys_label" for="powerId">权限规格ID：</label>
                                            <input type="input" id="powerId" class="form-control query-input" ng-model="queryPowerlist.powerId">
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label class="control-label sys_label" for="powerCode">权限规格编码：</label>
                                            <input type="input" id="powerCode" class="form-control query-input" ng-model="queryPowerlist.powerCode">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb10">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label class="control-label sys_label" for="powerType">权限类型：</label>
                                            <select class="form-control query-input" id="powerType" ng-model="queryPowerlist.powerType" ng-options="opt for opt in powerTypeList"></select>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <button type="submit" ng-disabled="isForbid" class="btn btn-sm btn-query"><i class="iconfont">&#xe600;</i> 查询</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- 结果 -->
                        <div class="staff-man-result" ng-controller="PowerListResultCtrl">
                            <div class="row result-header">
                                <div class="col-xs-4">
                                    <div class="title">
                                        <img src="../../../../images/icon_staffList.png">
                                        <p class="title-cn lh30">权限规格列表</p>
                                    </div>
                                </div>
                            </div>
                            <div class="result-table">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>权限规格ID</th>
                                            <th>权限规格编码</th>
                                            <th>权限类型</th>
                                            <th>备注</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in powerListResultList">
                                            <td>
                                                <input type="radio" name="sysRadio" ng-click="selectPowerList($index)">
                                            </td>
                                            <td>
                                                <p ng-bind="item.powerId"></p>
                                            </td>
                                            <td>
                                                <p ng-bind="item.powerCode"></p>
                                            </td>
                                            <td>
                                                <p ng-bind="item.powerType"></p>
                                            </td>
                                            <td>
                                                <p ng-bind="item.powerSupmodule"></p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-controller="paginationCtrl" class="text-center">
                                <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-cancel" type="button" ng-click="$ctrl.cancel()">关闭</button>
                        <button class="btn btn-submit" type="button" ng-click="$ctrl.ok()">确定</button>
                    </div>
                </script>

                <div class="row mt20">
                    <div class="col-xs-12 text-center">
                        <button type="submit" ng-="isForbid" class="btn btn-submit">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../../../lib/angular.min.js"></script>
    <script src="../../../../lib/angular-touch.min.js"></script>
    <script src="../../../../lib/angular-animate.min.js"></script>
    <script src="../../../../lib/angular-aria.min.js"></script>
    <script src="../../../../lib/jquery.min.js"></script>
    <script src="../../../../lib/bootstrap.min.js"></script>
    <script src="../../../../lib/ui-bootstrap.js"></script>
    <script src="../../../../lib/ui-bootstrap-tpls-2.1.3.js"></script>
    <script src="addrole.js"></script>
</body>
</html>
